<!DOCTYPE html>
<html>
<head>
<title>Register</title>
</head>
	<body>
	<h1>Register</h1>
	<form method="POST" action="{{ url_for('register') }}">
        <label for="username">Username:</label>
	<input type="text" id="username" name="username" required><br></br>
	<label for="password">Password:</label>
	<p>
		Mínimo 8 carácteres.
		La contraseña debe tener una mayúscula.
		La contraseña debe tener una minúscula.
		La contraseña debe tener un número.
	</p>
        <input type="password" id="password" name="password" required><br></br>
	<input type="submit" value="Register">
	</form>
	</body>
</html>